.traffic-light{

  .light{
    display: inline-block;
    background: url(//gw.alicdn.com/tps/TB1VrMBKFXXXXcLXpXXXXXXXXXX-453-328.png) no-repeat 0 0;
    background-size: auto 100%;
    overflow: hidden;
    width:140px / 2;
    height:328px / 2;

    &.red{
      background-position: 0,0;
    }

    &.yellow{
      background-position: -78px , 0;
    }

    &.green{
      background-position: -156px , 0;
    }

  }
}