
<link rel="stylesheet" href="http://localhost:3009/static/components/counter/index.css">

<h1>计数器示例</h1>
<div id="demo"></div>

<script src="http://localhost:3009/static/components/counter/{{filename}}.js"></script>